In [76]:
# Dependencies
import pandas as pd
import numpy as np

In [77]:
measurements = 'Resources/hawaii_measurements.csv'
stations = 'Resources/hawaii_stations.csv'

In [78]:
measurements_df = pd.read_csv(measurements)
stations_df = pd.read_csv(stations)

In [79]:
stations_df.head(2)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1  USC00513117  KANEOHE 838.1, HI US   21.4234  -157.8015       14.6

In [80]:
measurements_df.head(2)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63

In [81]:
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [82]:
drop_measurements = measurements_df.dropna(how="any")
drop_measurements.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [83]:
drop_measurements.to_csv("Resources/clean_hawaii_measurements.csv", index=False, header=True)
stations_df.to_csv("Resources/clean_hawaii_stations.csv", index=False, header=True)