In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String,Text, Float, Date
from datetime import datetime

In [2]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [3]:
conn = engine.connect()

In [4]:
#Create Stations class
class Stations(Base):
    __tablename__ = 'stations_tbl'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)  
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
Base.metadata.create_all(engine)

In [6]:
stations_df = pd.read_csv('Resources/clean_hawaii_stations.csv')
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
station_dict = stations_df.to_dict(orient='records')
station_dict[1]

{'station': 'USC00513117',
 'name': 'KANEOHE 838.1, HI US',
 'latitude': 21.4234,
 'longitude': -157.8015,
 'elevation': 14.6}

In [8]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [9]:
station_load = sqlalchemy.Table('stations_tbl',metadata, autoload=True)

In [10]:
conn.execute(station_load.insert(),station_dict)

In [11]:
conn.execute("select * from stations_tbl limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [12]:
#Create Measurements class
class Measurements(Base):
    __tablename__ = 'measurements_tbl'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [13]:
Base.metadata.create_all(engine)

In [14]:
measurements_df = pd.read_csv('Resources/clean_hawaii_measurements.csv')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [15]:
measurements_df['date'] = pd.to_datetime(measurements_df['date'], format = '%Y-%m-%d')

In [16]:
measurements_dict = measurements_df.to_dict(orient='records')
measurements_dict[1]

{'station': 'USC00519397',
 'date': Timestamp('2010-01-02 00:00:00'),
 'prcp': 0.0,
 'tobs': 63}

In [17]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [18]:
measurements_load = sqlalchemy.Table('measurements_tbl',metadata, autoload=True)

In [19]:
conn.execute(measurements_load.insert(),measurements_dict)

In [20]:
conn.execute("select * from measurements_tbl limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]